
Report 3:

Regression Test Cases:

| Test Case Id | Description | Executed By | Test Method | Expected Results | Pass/Fail |
| ------------ | ----------- | ----------- | ----------- | ---------------- | --------- |
| 1 | Test signup | Hemanth | Manual Testing | The newly created user should be added to the database. | Pass |
| 2 | Test signup (Negative) | Hemanth | Manual Testing | An error message should be displayed that the Password should be atleast 8 characters. | Pass |
| 3 | Test signin | Hemanth | Manual Testing | The landing page should open which indicate successful sign-in. | Pass |
| 4 | Test signin (Negative) | Hemanth | Manual Testing | An error message should be displayed. | Pass |
| 5 | Test sign-in from API | Hemanth | Manual Testing | We should get a 200 response upon signing-in. | Pass |
| 6 | Landing page articles | Hemanth | Manual Testing | The landing page should display a list of articles from the general category in descending order. | Pass |
| 7 | Refresh articles | Hemanth | Manual Testing | The articles should get refreshed after clicking the refresh button.| Pass |
| 8 | Test Settings page | Hemanth | Manual Testing | The Settings page should display the categories 'General', 'Business', 'Entertainment', 'Health', 'Scicence', 'Sports' and 'Technology' along with the checkboxes when the settings link is clicked. | Pass |
| 9 | Select and submit the category | Hemanth | Manual Testing | The home link should display the articles only from the 'Business' category. | Pass |
| 10 | Select and submit multiple categories |  Hemanth | Manual Testing | The home link should display the articles from both 'Business' and 'Entertainment' categories. | Pass |
| 11 | Unselect all and submit the category (Negative) | Hemanth | Manual Testing | An error message should be displayed which says atleast one category should be selected when we click on OK button. | Pass |
| 12 | Select and Cancel the changes | Hemanth | Manual Testing | The settings page should show the category 'Health' as selected. | Pass |
| 13 | Landing page links | Hemanth | Manual Testing | The landing page should display a list of links for Home and other news categories. | Pass |
| 14 | Select each category links | Hemanth | Manual Testing | The articles related to Sports category should be displayed upon clicking the Sports link and articles related to Business category should be displayed upon clicking the Business link. | Pass |
| 15 | Articles order and pagination | Hemanth | Manual Testing | The page should display the articles in descending order with the most recent article as first and only 50 articles should be displayed per page. | Pass |
| 16 | Search keyword | Hemanth | Manual Testing | The list of articles that have the keyword "bitcoin" in the articles should be displayed. | Pass |
| 17 | Advance Search | Hemanth | Manual Testing | The list of articles that have the keywords "crypto" and "ethereum" or "litecoin"  but not "bitcoin" in the articles should be displayed. | Fail |
| 18 | Search meaningless keyword (Negative) | Hemanth | Manual Testing | A message which says no results found for the keyword should be displayed. | Pass |





------------------------------------------------------------------------------------------------------------------------------------------------------


Report 2:

Regression Test Cases:

| Test Case Id | Description | Executed By | Test Method | Expected Results | Pass/Fail |
| ------------ | ----------- | ----------- | ----------- | ---------------- | --------- |
| 1 | Test signup | VENKATADRI | Manual Testing | The newly created user should be added to the database. | Pass |
| 2 | Test signup (Negative) | VENKATADRI | Manual Testing | An error message should be displayed that the Password should be atleast 8 characters. | Pass |
| 3 | Test signin | VENKATADRI | Manual Testing | The landing page should open which indicate successful sign-in. | Pass |
| 4 | Test signin (Negative) | VENKATADRI | Manual Testing | An error message should be displayed. | Pass |
| 5 | Test sign-in from API | VENKATADRI | Manual Testing | We should get a 200 response upon signing-in. | Pass |
| 6 | Landing page articles | VENKATADRI | Manual Testing | The landing page should display a list of articles from the general category in descending order. | Pass |
| 7 | Refresh articles | VENKATADRI | Manual Testing | The articles should get refreshed after clicking the refresh button.| Pass |
| 8 | Test Settings page | VENKATADRI | Manual Testing | The Settings page should display the categories 'General', 'Business', 'Entertainment', 'Health', 'Scicence', 'Sports' and 'Technology' along with the checkboxes when the settings link is clicked. | Pass |
| 9 | Select and submit the category | VENKATADRI | Manual Testing | The home link should display the articles only from the 'Business' category. | Pass |
| 10 | Select and submit multiple categories |  VENKATADRI | Manual Testing | The home link should display the articles from both 'Business' and 'Entertainment' categories. | Pass |
| 11 | Unselect all and submit the category (Negative) | VENKATADRI | Manual Testing | An error message should be displayed which says atleast one category should be selected when we click on OK button. | Pass |
| 12 | Select and Cancel the changes | VENKATADRI | Manual Testing | The settings page should show the category 'Health' as selected. | Pass |
| 13 | Landing page links | VENKATADRI | Manual Testing | The landing page should display a list of links for Home and other news categories. | Pass |
| 14 | Select each category links | VENKATADRI | Manual Testing | The articles related to Sports category should be displayed upon clicking the Sports link and articles related to Business category should be displayed upon clicking the Business link. | Pass |
| 15 | Articles order and pagination | VENKATADRI | Manual Testing | The page should display the articles in descending order with the most recent article as first and only 50 articles should be displayed per page. | Pass |
| 16 | Search keyword | VENKATADRI | Manual Testing | The list of articles that have the keyword "bitcoin" in the articles should be displayed. | Pass |
| 17 | Advance Search | VENKATADRI | Manual Testing | The list of articles that have the keywords "crypto" and "ethereum" or "litecoin"  but not "bitcoin" in the articles should be displayed. | Fail |
| 18 | Search meaningless keyword (Negative) | VENKATADRI | Manual Testing | A message which says no results found for the keyword should be displayed. | Pass |





-----------------------------------------------------------------------------------------------------------------------------------------------------------------------


Report 1:

Regression Test Cases:

| Test Case Id | Description | Executed By | Test Method | Expected Results | Pass/Fail |
| ------------ | ----------- | ----------- | ----------- | ---------------- | --------- |
| 1 | Test signup | Hemanth | Manual Testing | The newly created user should be added to the database. | Pass |
| 2 | Test signup (Negative) | Hemanth | Manual Testing | An error message should be displayed that the Password should be atleast 8 characters. | Pass |
| 3 | Test signin | Hemanth | Manual Testing | The landing page should open which indicate successful sign-in. | Pass |
| 4 | Test signin (Negative) | Hemanth | Manual Testing | An error message should be displayed. | Pass |
| 5 | Test sign-in from API | Hemanth | Manual Testing | We should get a 200 response upon signing-in. | Pass |
| 6 | Landing page articles | Hemanth | Manual Testing | The landing page should display a list of articles from the general category in descending order. | Pass |
| 7 | Refresh articles | Hemanth | Manual Testing | The articles should get refreshed after clicking the refresh button.| Pass |
| 8 | Test Settings page | Hemanth | Manual Testing | The Settings page should display the categories 'General', 'Business', 'Entertainment', 'Health', 'Scicence', 'Sports' and 'Technology' along with the checkboxes when the settings link is clicked. | Pass |
| 9 | Select and submit the category | Hemanth | Manual Testing | The home link should display the articles only from the 'Business' category. | Pass |
| 10 | Select and submit multiple categories |  Hemanth | Manual Testing | The home link should display the articles from both 'Business' and 'Entertainment' categories. | Pass |
| 11 | Unselect all and submit the category (Negative) | Hemanth | Manual Testing | An error message should be displayed which says atleast one category should be selected when we click on OK button. | Fail |
| 12 | Select and Cancel the changes | Hemanth | Manual Testing | The settings page should show the category 'Health' as selected. | Pass |
| 13 | Landing page links | Hemanth | Manual Testing | The landing page should display a list of links for Home and other news categories. | Pass |
| 14 | Select each category links | Hemanth | Manual Testing | The articles related to Sports category should be displayed upon clicking the Sports link and articles related to Business category should be displayed upon clicking the Business link. | Pass |
| 15 | Articles order and pagination | Hemanth | Manual Testing | The page should display the articles in descending order with the most recent article as first and only 50 articles should be displayed per page. | Pass |
| 16 | Search keyword | Hemanth | Manual Testing | The list of articles that have the keyword "bitcoin" in the articles should be displayed. | Fail |
| 17 | Advance Search | Hemanth | Manual Testing | The list of articles that have the keywords "crypto" and "ethereum" or "litecoin"  but not "bitcoin" in the articles should be displayed. | Fail |
| 18 | Search meaningless keyword (Negative) | Hemanth | Manual Testing | A message which says no results found for the keyword should be displayed. | Fail |
